h1{
    text-align: center;
    color: black;
    font-family: "Hiragino Kaku Gothic Pro"
    

}

.social{
    color: black;
    text-align: center;
    font-family: "MS Pゴシック",sans-serif;
}
.pchan{
    color: black;
    text-align: center;
    font-family: "MS Pゴシック",sans-serif;
}
