.social{
    display:block;
    flex-flow: column;
    color: black;
    text-align: center;
    font-family: "MS Pゴシック",sans-serif;
}
.pchan{
    color: black;
    text-align: center;
    font-family: "MS Pゴシック",sans-serif;
}

.h1{
    text-align: center;
}